@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.body {
    margin: 0;
}

.bg-container {
    background-color: #86d2f2;
    height: 100vh;
    font-family: "Roboto";
}

.heading {
    padding-top: 20px;
    font-weight: bold;
}

.traffic-container {
    margin-top: 40px;
}

.button-container {
    margin-right: 30px;
}

.traffic-button {
    background-color: #1f1d41;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    margin: 15px;
    width: 80px;
}

.lights-container {
    background-color: #1f1d41;
    padding: 20px;
    border-radius: 40px;
}

.light {
    width: 60px;
    height: 60px;
    background-color: #4b5069;
    border-radius: 50%;
    margin: 15px;
}